.navbar {
    top: 0;
    left: 0;
    height: 100%; /* Ocupa toda a altura da tela */
    width: 200px; /* Largura da navbar */
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column; /* Organiza os itens verticalmente */
    align-items: flex-start;
    padding-top: 20px;
}

li.li-bar {
    margin: 20px;
    font-size: large;
}


/* Estilo dos links de navegação */
.navbar a {
    color: white;
    text-decoration: none;
    padding: 2px;
    text-align: left;
    width: 100%;
    transition: background 0.3s;    
}

/* Efeito de hover nos links */
.navbar a:hover {
    background-color: #555;
}

/* Conteúdo principal da página */
.content {
    margin-right: 220px; /* Deixa espaço para a navbar */
    padding: 20px;
}