.navbar {
    top: 0;
    left: 0;
    height: 100%; /* Ocupa toda a altura da tela */
    width: 50%; /* Largura da navbar */
    color: rgb(39, 39, 39);
    display: flex;
    align-items: flex-start;
    padding-top: 5px;
    justify-content: space-evenly;
}
nav {
    background-color: transparent;
    box-shadow: none;
}

h5.li-bar {
    margin: 20px;
    font-size: 20px;
}


/* Estilo dos links de navegação */
.navbar a {
    color: rgb(50, 50, 50);
    text-decoration: none;
    padding: 2px;
    text-align: left;
    width: 100%;
    border-radius: 5px;
    transition: margin 0.3s, background-color 0.3s;
}

/* Efeito de hover nos links */
.navbar a:hover {
    background-color: #979797;
    
    margin: 8px;
}

/* Conteúdo principal da página */
.content {
    margin-right: 220px; /* Deixa espaço para a navbar */
    padding: 20px;
}

.header-systemize {
    display: flex;
}
